SUPABASE_URL=https://igbjipqjmsennrfwkmzv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnYmppcHFqbXNlbm5yZndrbXp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4OTQxMDQsImV4cCI6MjA5NDQ3MDEwNH0._T5cOmn04KcjIkFyCUBWQS7kBPg8pXW6pty8zY3eKYU
