SUPABASE_URL=https://igbjipqjmsennrfwkmzv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnYmppcHFqbXNlbm5yZndrbXp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg5NDEwNCwiZXhwIjoyMDk0NDcwMTA0fQ.lb5mFXjRrPE_CuAU46QHMYIQi3K_PS6cAwh2SvQIE5A
